apiVersion: v2
name: keycloak
version: 18.4.3-bb.12
appVersion: 21.1.1
description: Open Source Identity and Access Management For Modern Applications and Services
keywords:
  - sso
  - idm
  - openid connect
  - saml
  - kerberos
  - ldap
home: https://www.keycloak.org/
icon: https://www.keycloak.org/resources/images/keycloak_icon_512px.svg
sources:
  - https://github.com/codecentric/helm-charts
  - https://github.com/jboss-dockerfiles/keycloak
  - https://github.com/bitnami/charts/tree/master/bitnami/postgresql
maintainers:
  - name: unguiculus
    email: unguiculus@gmail.com
  - name: thomasdarimont
    email: thomas.darimont+github@gmail.com
dependencies:
  - name: postgresql
    version: 10.3.13
    repository: file://./deps/postgresql
    condition: postgresql.enabled
  - name: gluon
    version: "0.4.7"
    repository: "oci://registry1.dso.mil/bigbang"
annotations:
  bigbang.dev/applicationVersions: |
    - Keycloak: 21.1.1
  helm.sh/images: |
    - name: keycloak
      image: registry1.dso.mil/ironbank/opensource/keycloak/keycloak:21.1.1
    - name: postgresl12
      condition: postgresql.enabled
      image: registry1.dso.mil/ironbank/opensource/postgres/postgresql12:12.15
    - name: base
      condition: bbtests.enabled
      image: registry1.dso.mil/ironbank/big-bang/base:2.0.0
