apiVersion: v2
name: keycloak
version: 7.1.5-bb.0
appVersion: 26.4.7
description: Keycloak.X - Open Source Identity and Access Management for Modern Applications and Services
keywords:
- sso
- idm
- openid connect
- saml
- kerberos
- oauth
- ldap
- keycloakx
- quarkus
home: https://www.keycloak.org/
icon: https://www.keycloak.org/resources/images/keycloak_logo_200px.svg
sources:
- https://github.com/codecentric/helm-charts
- https://github.com/keycloak/keycloak/tree/main/quarkus/container
- https://github.com/bitnami/charts/tree/main/bitnami/postgresql
dependencies:
- name: keycloakx
  version: 7.1.5
  repository: https://codecentric.github.io/helm-charts
  alias: upstream
  import-values:
  - child: service
    parent: keycloakx.service
  - child: http
    parent: keycloakx.http
  - child: test
    parent: keycloakx.test
  - child: image
    parent: keycloakx.image
- name: postgresql
  version: 18.1.13
  repository: oci://registry-1.docker.io/bitnamicharts
  condition: postgresql.enabled
- name: gluon
  version: 0.9.7
  repository: oci://registry1.dso.mil/bigbang
- name: bb-common
  version: 0.11.0
  repository: oci://registry1.dso.mil/bigbang
annotations:
  bigbang.dev/maintenanceTrack: bb_integrated
  bigbang.dev/applicationVersions: |
    - Keycloak: 26.4.7
  helm.sh/images: |
    - name: keycloak
      image: registry1.dso.mil/ironbank/opensource/keycloak/keycloak:26.4.7
    - name: postgresql
      condition: postgresql.enabled
      image: registry1.dso.mil/ironbank/bitnami/postgres:17.4.0
    - name: base
      condition: bbtests.enabled
      image: registry1.dso.mil/ironbank/big-bang/base:2.1.0
  bigbang.dev/upstreamReleaseNotesMarkdown: |
    - [Find upstream chart's release notes and CHANGELOG here](https://github.com/codecentric/helm-charts/releases)
    - [Find upstream keycloak project's release notes and CHANGELOG here](https://www.keycloak.org/docs/latest/release_notes/index.html)
