{{- if .Values.bbtests }}
{{- if .Values.bbtests.enabled }}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ template "keycloak.fullname" . }}-create-ci-cypress-user-hook
  labels:
    app: {{ template "keycloak.name" . }}
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
    helm.sh/chart: "{{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}"
  {{- range $key, $value := .Values.service.labels }}
    {{ $key }}: {{ $value | quote }}
  {{- end }}
  annotations:
    "helm.sh/hook": post-install
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
spec:
  template:
    metadata:
      name: {{ template "keycloak.fullname" . }}-create-ci-cypress-user-hook
      labels:
        app: {{ template "keycloak.name" . }}
        heritage: {{ .Release.Service }}
        release: {{ .Release.Name }}
      {{- range $key, $value := .Values.service.labels }}
        {{ $key }}: {{ $value | quote }}
      {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      restartPolicy: OnFailure
      containers:
      - name: {{ template "keycloak.fullname" . }}-create-ci-cypress-user
        image: {{ .Values.bbtests.image  }}
        imagePullPolicy: {{ .Values.image.pullPolicy  }}
        securityContext:
          {{- toYaml .Values.securityContext | nindent 12 }}
        command:
        - /bin/sh
        - -c
        - |
          # create_keycloak_cypress_user()
          default_admin_user="{{ default "admin" .Values.secrets.env.stringData.KEYCLOAK_ADMIN }}"
          default_admin_password="{{ default "password" .Values.secrets.env.stringData.KEYCLOAK_ADMIN_PASSWORD }}"
          base_url="http://keycloak-http.keycloak.svc.cluster.local"
          access_token=""
          realm="baby-yoda"

          echo "Base URL: $base_url"

          # wait for Keycloak to be ready
          COUNTER=0
          until curl -fs "$base_url/auth/realms/master" --connect-timeout 10; do
            echo "Wating for Keycloak..."
            COUNTER=$[$COUNTER + 1]
            echo "Retry $COUNTER"
          done
          
          echo
          echo "Keycloak master realm is ready"

          token_req=$(curl --write-out " %{http_code}" -s -k --request POST \
              -d "client_id=admin-cli" \
              -d "username=$default_admin_user" \
              -d "password=$default_admin_password" \
              -d "grant_type=password" \
              "$base_url/auth/realms/master/protocol/openid-connect/token")

          token_req_status=${token_req##* }

          if [ "$token_req_status" != "200" ]; then
              echo -e "Check the base_url config."
              echo -e "Failed to get token: \n\t${token_req% *}"
              {{- if and .Values.istio.enabled (eq .Values.istio.injection "enabled") }}
              until curl -fsI http://localhost:15021/healthz/ready; do
                echo "Waiting for Istio sidecar proxy..."
                sleep 3
              done
              sleep 5
              echo "Stopping the istio proxy..."
              curl -X POST http://localhost:15020/quitquitquit
              {{- end }}
              exit 1
          fi

          access_token=$(echo "${token_req%????}" | jq .access_token | tr -d '"')

          user_create_req=$(curl --write-out " %{http_code}" -s -k --request POST \
              --header "Content-Type: application/json" \
              --header "Authorization: Bearer $access_token" \
              --data '{
          "enabled": true,
          "username": "{{ .Values.bbtests.cypress.envs.tnr_username }}",
          "email": "{{ .Values.bbtests.cypress.envs.tnr_email }}",
          "emailVerified": true,
          "firstName": "{{ .Values.bbtests.cypress.envs.tnr_firstName }}",
          "lastName": "{{ .Values.bbtests.cypress.envs.tnr_lastName }}",
          "groups": ["/Impact Level 2 Authorized" ],
          "credentials": [
              {
              "type": "password",
              "value": "{{ .Values.bbtests.cypress.envs.tnr_password }}",
              "temporary": false
              }
          ],
          "attributes": 
            {
            "terms_and_conditions":["1677014361"],
            "notes":[""],
            "affiliation":["other"],
            "organization":["Test"],
            "rank":["E-5"],
            "location":["42"],
            "mattermostid":["2352211826381947"],
            "public-registrant":["true"],
            "activecac": [""]
            }
          }' "$base_url/auth/admin/realms/$realm/users")

          user_create_req_status=${user_create_req##* }

          if [ "$user_create_req_status" != "201" ]; then
              error_msg=$(echo "${user_create_req% *}" | jq .errorMessage | tr -d '"')
              echo -e "${error_msg}"
              if [ "$error_msg" == "User exists with same username" ] || [ "$error_msg" == "User exists with same email" ]; then
                  echo -e "Cypress user already created. Skipping..."
                  {{- if and .Values.istio.enabled (eq .Values.istio.injection "enabled") }}
                  until curl -fsI http://localhost:15021/healthz/ready; do
                    echo "Waiting for Istio sidecar proxy..."
                    sleep 3
                  done
                  sleep 5
                  echo "Stopping the istio proxy..."
                  curl -X POST http://localhost:15020/quitquitquit
                  {{- end }}
                  exit 0
              fi
              echo -e "Failed to create Keycloak cypress user: \n\t${error_msg}"
              {{- if and .Values.istio.enabled (eq .Values.istio.injection "enabled") }}
              until curl -fsI http://localhost:15021/healthz/ready; do
                echo "Waiting for Istio sidecar proxy..."
                sleep 3
              done
              sleep 5
              echo "Stopping the istio proxy..."
              curl -X POST http://localhost:15020/quitquitquit
              {{- end }}
              exit 1
          fi
          {{- if and .Values.istio.enabled (eq .Values.istio.injection "enabled") }}
          until curl -fsI http://localhost:15021/healthz/ready; do
            echo "Waiting for Istio sidecar proxy..."
            sleep 3
          done
          sleep 5
          echo "Stopping the istio proxy..."
          curl -X POST http://localhost:15020/quitquitquit
          {{- end }}
        resources:
          requests:
            memory: 256Mi
            cpu: 100m
          limits:
            memory: 256Mi
            cpu: 100m
{{- end }}
{{- end }}
